@charset "UTF-8";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  --main-blue-color: #1677ff;
  --radius: 0.5rem;
}

body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  /* --colors-bg: hsl(207, 26%, 17%); */
  --colors-bg: #222;
  --colors-ui-base: hsl(209, 23%, 22%);
  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
  --profile-content-color: rgba(58, 62, 71, 0.5);
}

body[data-theme='ligth'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --profile-content-color: rgba(205, 210, 222, 0.5);
}

.displayFlex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Roboto';
  background-color: var(--colors-bg);
  color: var(--colors-text);
}

.centerContainer {
  display: flex;
  justify-content: center;
}

.rowContainter {
  display: flex;
  justify-content: center;
  position: relative;
}

.loaderContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
}

.nav__container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--colors-bg);
  color: var(--colors-text);
  font-size: 1.5rem;
  box-shadow: var(--shadow);
}

.nav {
  display: flex;
  align-items: center;
  width: 80%;
}

.nav__title {
  padding: 10px 5px;
}

.nav__items {
  display: flex;
  flex: 1 1 auto;
  justify-content: right;
  width: 100%;
}

.nav__item {
  margin-right: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.liked {
  display: flex;
}

.liked_count {
  color: var(--colors-text);
  position: relative;
  font-size: 1rem;
}

.nav__item .active {}

.blackLine {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 1px;
  margin: 10px 0 0 0;
  border-radius: var(--radius);
}

.main {}


.auth__container {
  width: 70%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: var(--radius);
  flex: 1 1 auto;
}


.hidden {
  display: none;
}

.footer {
  margin-top: auto;
  text-align: center;
  background: var(--colors-bg);
  background-color: var(--colors-bg);
  color: var(--colors-text);
  font-size: 1.5rem;
  box-shadow: var(--shadow);
  width: 100%;
}

.centerContent {
  display: flex;
  justify-content: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease 0s;
  z-index: 100;
}


.popupAcitve {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: white;
  color: black;
  width: 300px;
  padding: 15px;
  position: relative;
  transition: all 0.5s ease 0s;
  transform: translate(0px, -200px);
}

.popup__contentActive {
  transform: translate(0px, 0px);
}


.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  text-decoration: none;
  width: 20px;
  height: 20px;
  color: black;
  background: url('./img/icons/close-outline.svg') 0 0 no-repeat;
}

.popup__title {
  font-size: 32px;
  margin: 0 0 20px 0;
}

.popup__text {}


.content__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.content__rightArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 0;
}

.content__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.content__makeАdvertising {
  width: 300px;
}

.findOrSeracrh__container {
  margin: 10px 0 20px 0;
}

.findOrSeracrh {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findOrSeracrh__title {
  font-size: 30px;
  margin: 0 0 15px 0;
}

.findOrSeracrh__input {
  margin: 0 0 15px 0;
}

.content__title {
  font-size: 2.5rem;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--colors-text);
  margin: 0 0 5px 0;
}

.content__subtitle {
  margin: 10px 0;
}

.content__cities {
  display: flex;
}

.content__citiy {
  font-size: 18px;
  color: var(--main-blue-color);
  margin: 0 5px 0 0;
}

.citites__separeteIcon {
  font-size: 18px;
  margin: 0 5px 0 0;
}

.content__lostSearch__container {
  margin: 5px 0 20px 0;
  background-color: var(--colors-bg-content);
  border-radius: var(--radius);
  flex: 1 1 auto;
  color: var(--colors-text);
}

.content__lostSearch {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.lostSearch__title {
  align-self: center;
  font-size: 2rem;
  color: var(--colors-text);
  margin: 20px 0 20px 0;
}

.lostSearch__detailImg {
  position: relative;
  padding: 10%;
}

.lostSearch__detailImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.lostSearch__inputBlock {
  width: 100%;
  display: flex;
}

.lostSearch__items__container {
  margin: 10px 0 0 0;
  width: 100%;
}

.lostSearch__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.lostSearch__item {
  margin: 0px 15px 30px 15px;
  flex: 0 0 30.333%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: var(--radius);
}

.lostSearch__item__created {
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  align-self: center;
  padding: 4px;
  border-radius: var(--radius);
  background-color: var(--colors-bg);
}

.lostSearch__item__img {
  flex: 1 1 auto;
  position: relative;
  padding: 40%;
}

.lostSearch__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.lostSearch__item button {
  margin: 4px 0 0 0;
}

.lostSearch__item__category {
  margin: 3px 0 5px 0;
  font-size: 1.3rem;
}

.lostSearch__item__category span {
  margin: 0 7px 0 0;
}

.lostSearch__item__category__tag {
  cursor: pointer;
  color: var(--colors-text);
}

.lostSearch__item__category__tag:hover {
  padding: 0 20px;
  border: 1px solid var(--main-blue-color);
}

.lostSearch__item__title {
  font-size: 20px;
  font-weight: 800;
  margin: 5px 0;
}

.lostSearch__noAds {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 36px;
}

.content__adDetail {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.adDetail__title {
  align-self: center;
  font-size: 2.5rem;
  color: var(--colors-text);
  margin: 20px 0 20px 0;
}

.adDetail__body {
  display: flex;
  width: 100%;
  margin: 0 0 15px 0;
}

.adDetail__imgRow {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
}

.adDetail__img {
  position: relative;
  /* flex: 0 0 33.333%; */
  flex: 0 0 42%;
  min-height: 300px;
}

.adDetail__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.adDetail__contancts__container {
  width: 100%;
  margin: 0 0 0 25px;
  display: flex;
  flex-direction: column;
}

.adDetail__contancts {
  display: flex;
  flex-direction: column;
}

.adDetail__textTittle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0 15px 0;
  text-decoration: underline;
}

.adDetail__switch__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.adDetail__switch {
  margin-top: auto;
}

.adDetail__comments {
  width: 100%;
  display: flex;
}

.adDetail__comments__title {
  width: 100%;
  align-self: center;
  justify-self: center;
}

.comments {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 20px 0;
}

.comments__count {
  font-size: 1.5rem;
  letter-spacing: 0.025em;
  color: var(--colors-text);
  text-align: center;
  margin-bottom: 10px;
}

.comments__comment {
  width: 100%;
  display: flex;
  background-color: #f5f6f9;
  padding: 20px 30px;
}

.login-to-comment {
  text-align: center;
  margin: 10px 0;
}

.cursorPointer {
  cursor: pointer;
}

.back {
  margin-top: 5px;
}

.warningText {
  text-decoration: underline;
  color: red;
  font-size: 24px;
}

.comments__comment-author-img {
  margin-right: 20px;
}

.comments__comment-author-img img {
  width: 80px;
  height: 80px;
}

.comments__comment-content {
  padding: 20px;
  background-color: white;
  width: 100%;
}

.comments__comment-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comments__rating {
  margin-right: 30px;
}

.comments__date {
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #999999;
}

.comments__comment-author-name span {
  font-size: 16px;
  line-height: 24px;
  /* color: #1677ff; */
  color: var(--main-blue-color);
  margin-bottom: 10px;
}

.comments__text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #232323;
}

.comments__comment-buttons {
  display: flex;
  justify-content: center;
}

.comments__comment__delete button {
  margin: 0 10px 5px 0;
}

.comments__comment__delete button:last-child {
  margin: 0;
}

.comments__comment__change {
  margin-right: 20px;
}

.comments__add-comment {
  padding: 30px;
  background-color: var(--colors-bg);
  color: var(--colors-text);
}

.comments__add-comment-wrapp {
  display: flex;
  flex-direction: column;
}

.comments__add-comment-title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  color: var(--colors-text);
  margin-bottom: 20px;
}

.comments__add-comment-author-name {
  margin-bottom: 10px;
  font-size: 14px;
}

.comments__add-comment-inputs {
  display: flex;
  flex-wrap: wrap;
}


.comments__add-comment-subtitle {
  display: flex;
}

.comments__add-comment-your-comment {
  letter-spacing: 0.025em;
  color: var(--colors-text);
  margin-right: 20px;
}

.comments__add-comment-rating {
  display: flex;
}

.comments__add-comment-rating-title {
  font-size: 14px;
  letter-spacing: 0.025em;
  color: #232323;
  margin-right: 20px;
  margin-right: 20px;
}

.comments__add-comment-textarea {
  margin-top: 10px;
}

.comments__add-comment-textarea textarea {
  width: 100%;
  height: 147px;
  border: 1px solid #ebebeb;
  padding: 10px;
}

.comments__add-comment-textarea textarea:focus {
  border: 2px solid #3cb878;
}

.comments__add-comment-textarea textarea:hover {
  border: 2px solid #3cb878;
}

.comments__add-comment-button {
  display: inline-block;
  margin: 10px 0;
  background-color: #3cb878;
}

.comments__add-comment-button button {
  padding: 10px 40px;
  background-color: #3cb878;
  color: white;
}

/* rgba(58, 62, 71, 0.5) */
.profile__container {
  width: 80%;
}

.profile__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__header__container {
  background: var(--profile-content-color);
  padding: 20px;
  width: 100%;
  margin: 10px 0 10px 0;
}

.profile__header {
  display: flex;
  align-items: center;
  color: var(--colors-text);
}

.profile__header__img {
  margin-right: 10px;
}

.profile__header__img img {
  max-width: 250px;
}

.profile__header__username {
  font-size: 2rem;
}

.profile__body__container {
  width: 100%;
}

.profile__body {
  width: 100%;
}

.profile__columns {
  display: flex;
  flex-wrap: wrap;
}

.profile__select__content {
  min-width: 20%;
  margin: 0 10px 0 0;
}

.profile__right__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  color: var(--colors-text);
  background: var(--profile-content-color);
}

.profile__right__content form {
  width: 100%;
}

.profile__ads__tittle {
  font-size: 1.5rem;
  margin: 5px 0 0 0;
}

.profile__ads {
  width: 100%;
  position: relative;
  padding: 0 30% 0 30%;
}

.profile__form label {
  color: var(--colors-text) !important;
}

.ant-upload div {
  color: var(--colors-text);
}

.ant-form-item-control-input-content {
  color: var(--colors-text);
}

.createAd__container {
  width: 80%;
}

.createAd {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAd__title {
  font-size: 2rem;
  margin: 20px 0;
}

.createAd__body {
  width: 60%;
}

.ant-form label {
  color: var(--colors-text) !important;
}